<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/day_3.css') }}">
    <script src="{{ url_for('static', filename='js/day_3.js') }}" defer></script>
    <title>Den 3</title>
</head>
<body>
    <header>
        <h1>Třetí den - Paměťová hra</h1>
    </header>
    <main>
        <button class="red" onclick="press(0)"></button>
        <button class="blue" onclick="press(1)"></button>
        <button class="yellow" onclick="press(2)"></button>
        <button class="green" onclick="press(3)"></button>
    </main>
</body>
</html>