{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Přihlášení</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <form method="POST" class="login-form">
            {{ form.hidden_tag() }}
            {{ form.passwd(class="form-control") }}
            {{ form.submit(class="btn btn-primary custom-submit") }}
        </form>
    </div>
    {% endblock %}
</body>
</html>